.upA{
    display: flex;
    gap: 10PX
    ;
    text-align: left;
    font-size: 20px;
    align-items: center;
    
}
.textA{
    width: 200px;
}
.boxA{
    padding:32px;
    padding-top: 15px;
    width: 380px;
    height: 180px;
    border-radius: 8.229px;
border: 3.6px solid #000;
background: #FFF;
box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1) !important;
}
.imageA img{
height: 80px;
width: 80px;
}
.downA{
    display: flex;
    flex-direction: column;
}
.downA span{
    display: flex;
   gap: 5px;
   align-items: center;
   padding-top: 10px;
}
.downA span svg{
    height: 20px;
    width: 20px;
    color: #463DFF;
}
.downA span P{
    color: #463DFF;
    font-family: Outfit;
    font-size: 16.457px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.downA span svg{
    height: 20px;
    width: 20px;
}
.downA p{
    color: #727171;
font-family: Outfit;
font-size: 14.457px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
margin: 0%;
padding-left: 84px;

}