@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
#root {
  width: 100vw;
  height:100vh;
  text-align: center;
  overflow-x: hidden;
}
* {

  font-family: "Outfit";

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #fff;
}
.primary-button {
  padding: 8px 40px;
  background-color: #ffba07;
  border-radius: 400px;
  border: 3px solid #000;
  font: inherit;
  font-size: 0.8em;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.common-border {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  
}


.contact-input {
  width: 440px;
  border: 3px solid black;
  border-radius: 4px;
  padding: 15px 28px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

