@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
#root {
  width: 100vw;
  text-align: center;
}
* {
  font-family: 'Outfit';
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #fff;
}
